<p id="notice"><%= notice %></p>


<%= render :partial => @entry %>

 <%= link_to 'Edit', edit_entry_path(@entry) %> |
 <%= link_to 'Back', entries_path %>

<%#= link_to 'Edit', edit_entry_path(@entry) %>
<%#= link_to 'Back', entries_path %>

<h2>Comments</h2>
<div id="comments">
  <%= render :partial => @comments %>
  <%= will_paginate @comments %>
</div>


<%= form_for([@entry, @comment])do |f| %>
<p>
  <%= f.label :body, "New comment" %>
  <%= f.text_area :body %>
</p>
<p><%= f.submit "Add comment" %> </p>
<% end %>
